# Credentials / secrets
bilgiler/
.env
.env.local
.env.production

# Node
node_modules/
npm-debug.log*

# Flutter
**/build/
**/.dart_tool/
**/.packages
**/.flutter-plugins
**/.flutter-plugins-dependencies

# IDE
.idea/
.vscode/
*.iml
*.swp

# OS
.DS_Store
Thumbs.db

# Firebase service account
**/firebase-service-account.json
